.chat-row {
    margin: 50px;
}

.chat-user-list {
    list-style: none;
    margin-bottom: 2px;
    border: darkgray solid 0.5px;
    border-radius: 10px;
    background: #ffffff;
}

.name-image {
    width: 35px;
    height: 35px;
    color: #ffffff;
    border-radius: 50%;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    text-align: center
}

.bg-primary {
    background-color: #008b8b !important;
}

.chat-image, .chat-name {
    display: inline-block;
    color: #000;
}

.chat-user-list {
    margin-bottom: px;
    padding: 5px;
    height: 45px;
    color: #000;
    /* max-width: 200px; */
    margin: 5px;
    border-color: aquamarine;
}
.chat-user-list a {
    color: #000000;
}

.chat-user-list.active {
    background: #e4e4e4;
}
.users {
    background: black;
    border-color: azure;
    border-radius: 10px;
}

.user-status-icon {
    position: absolute;
    top: 22px;
    left: 28px;
    color: gray;
    /* background: #000000; */
    border-radius: 50px;
    scale: 75%;
}

.user-status-head {
    position: absolute;
    top: 22px;
    left: 28px;
    color: gray;
    border-radius: 50px;
    scale: 100%;
}

.chat-image {
    position: relative;
}

/* .chat-card {
    top: -11px;
} */

.chat-card-header {
    min-height: 60px;
    padding: 10px;
    margin-bottom: 2px;
    background: #e0fdff;
    border: lightgrey solid 0.5px;
    border-radius: 5px;
}

#chatBoard {
    height: calc(100vh - 375px);
    background: #ffffff;
    padding: 30px 50px;
    margin-bottom: 20px;
    position: relative;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
}

.message-text {
    margin-left: 45px;
    margin-top: -3px;
}

.chat-input {
    border: 1px solid lightgray;
    border-radius: 10px 10px 0 0;
    padding: 8px 10px;
}

.chat-input-toolbar {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5px 8px;
}
.chat-input-toolbar .tool-items {
    margin-right: 5px;

}

.chat-input-toolbar .tool-items {
    margin-right: 5px;
    opacity: 0.3;
}
