/* ========Market--Advertise--Form====================== */


.colla-ad {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem !important;
    display: inline-block;
    box-sizing: border-box;
    padding: 7% 5% 0 5%;
}

.cat-box {
    display: flex;
}

/* .l-row {box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
        flex-wrap: wrap;
        margin-right: -7px;
        margin-left: -7px;
    } */


    /* .a-span-17, .l-col {
        flex-basis: 70.83333333333339%;
        max-width: 70.83333333333339%;
    } */

    /* .l-col {
        box-sizing: border-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-shrink: 0;
        padding-right: 7px;
        padding-left: 7px;
    } */

.formgroup {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.formgroup-label, .formgroup-label--unpadded, .formgroup-label-mandatory {
    display: block;
    box-sizing: border-box;
    padding: 8px 0;
    width: 25%;
}

label {
    margin-bottom: .5rem;
}

.formgroup-input, .formgroup-input-inline {
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 12px;
    width: 75%;
}

textarea {text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 2px;
    border-radius: 2px;
    resize: vertical;
    height: auto;
    box-shadow: none;
    outline: none;
    border: 1px solid #D2D2D2;
    background-color: #FCFCFC;
    color: #202020;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}    

small {
    line-height: 1.6;
}

.l-container-bow {
    position: relative;
box-sizing: border-box;
min-height: 10px;
    margin-bottom: 12px;
}

#pstad-submit {
    background: #000000;
}

button, .button {border-radius: 6px;text-transform: uppercase;box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.25);position: relative;letter-spacing: 1px;transition: all .3s ease-in-out;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    padding: 6px 13px;
    outline: none;
    white-space: nowrap;
    box-sizing: border-box;
    color: #fff;
    min-height: 34px;
    line-height: 1.4em;
    font-size: 14px;
    max-width: 300px;
    margin-top: 0 !important;
}

[type="submit"], button {
    -webkit-appearance: button;
}

.button {border: 0;
    width: 100%;
}

#pstad-frmprview {
    background: #10dab5;
}

button,.button-secondary {
    border-radius: 6px;
    text-transform: uppercase;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.25);
    position: relative;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    padding: 6px 13px;
    outline: none;
    white-space: nowrap;
    box-sizing: border-box;
    color: #fff;
    min-height: 34px;
    line-height: 1.4em;
    font-size: 14px;
    max-width: 300px;
    margin-top: 0 !important;
}

button,.button-secondary {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
    line-height: 1.4em;
    font-size: 14px;
}


    
        

  /* ========Market--Advertise--Form====================== */